body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

p {
  text-align: center;
}

.navbar {
  background-color: #f8f9fa; /* Set background color */
  padding: 10px 0; /* Add some padding for better appearance */
  text-align: center; /* Center align the content */
}

.navbar a {
  margin-right: 20px; /* Add some space between links */
}

.navbar-brand {
  margin-right: auto; /* Push the brand/logo to the left */
}

.navbar-nav {
  margin-left: auto; /* Push the links to the right */
}

